body {
    background-color: #0a0a0a;
}

#container {
    width: 1000px;
    background-color:#111111 ;
    margin: 20px auto;
    border: 8px solid #505050;
    border-radius: 20px;
}

header {
    padding: 20px 0;
    background-color: #0B0D0C;
    border-radius: 20px 20px 0 0;
}

header img {
    width: 60%;
    display: block;
    margin: 0 auto;
    padding: 10px;

}

nav {
    background-color: #838383;
    padding-top: 10px;
    text-align: center;
}

nav a {
    display: inline-block;
    background-color:#F21B1B ;
    height: 50px;
    width: 175px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 50px;
    color: #0a0a0a;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    margin: 0 10px;

}

nav a:hover {
    background-color: #D9BC2B;
    color: #F21B1B;
}

main {
    background-color: rgb(83, 83, 83);
    margin: 20px auto;
    width: 800px;
    padding: 20px;
    border: 4px solid #F21B1B ;

}

main h2 {
    text-align: center;
    color: rgb(17, 17, 17);
    font-size: 2em;
}

main img {
    width: 50%;
    display: block;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
}

footer {
    background-color: #838383;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 40px;
}
.active {
    background-color: #080808;
    color: #F21B1B;
}

.pro_head {
    text-align: center;
    color: rgb(10, 10, 10);
    font-size: 1.5em;
    
}
