body {
    background-color: #4C5973;
}

#container {
    width: 1000px;
    background-color:#111111 ;
    margin: 20px auto;
    border: 4px solid #505050;
    border-radius: 20px;
}

header {
    background-color: #666666;
    border-radius: 20px 20px 0 0;
}

header img {
    width: 40%;
    display: block;
    margin: 0 auto;
    padding: 10px;

}

main {
    background-color: aqua;
    margin: 20px auto;
    width: 800px;
    padding: 20px;
    border: 4px solid #F26D6D;

}
main img {
    width: 35%;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
}

footer {
    background-color: #F26D6D;
    border-radius: 0 0 20px 20px;
    text-align: center;
    padding: 40px;
}